<form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
  <div class="form-group form__wrapper">
    <label for="boardName">Введите название:</label>
    <input type="text" class="form-control" id="boardName" formControlName="boardName" />
    <div
      *ngIf="boardName?.invalid && (boardName?.dirty || boardName?.touched)"
      class="alert alert-error"
    >
      <div
        *ngIf="boardName && boardName.errors && boardName.errors['required']"
        class="alert alert-error"
      >
        Имя доски пустое
      </div>
      <div
        *ngIf="boardName && boardName.errors && boardName.errors['minlength']"
        class="alert alert-error"
      >
        Имя доски должно<br />быть более 3 символов
      </div>
      <div
        *ngIf="boardName && boardName.errors && boardName.errors['maxlength']"
        class="alert alert-error"
      >
        Имя доски не должно<br />быть более 30 символов
      </div>
      <div
        *ngIf="boardName && boardName.errors && boardName.errors['pattern']"
        class="alert alert-error"
      >
      Имя доски может сожержать только цифры, буквы (а, А), пробелы, тире, точки, нижние подчеркивания  
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!boardForm.valid">Создать</button>
</form>
