<h1 class="title title__boards">Мои доски</h1>

<div class="container__body-boards">
  <div class="board" *ngFor="let board of boards">
    <a class="title title__board" [routerLink]="['board/', board.id]">{{ board.title }} </a>
  </div>

  <div *ngIf="creatingBoard" class="form form-create-board">
    <label class="title title-form">Введите название</label>
    <tr-simple-input-form #inputCreateBoard></tr-simple-input-form>
    <button
      type="submit"
      class="btn btn__create-board"
      [disabled]="inputCreateBoard.valueControl.invalid"
      (click)="createBoard(inputCreateBoard.getValue())"
    >
      Создать
    </button>
  </div>

  <button *ngIf="!creatingBoard" class="btn btn__add-board" (click)="creatingBoard = true">
    +Добавить доску
  </button>
</div>
