:host(tr-list){
    border: 2px solid var(--color_border);
    margin-right: 50px;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}

.btn__add-card{
    border-radius: 10px;     
    margin-bottom: 20px;
}